.env
.*.flag
.*.lock
docker-compose.*.yml
!*/optional/docker-compose.*.yml
before-upgrade.*.sh
!*/optional/before-upgrade.*.sh
after-upgrade.*.sh
!*/optional/after-upgrade.*.sh
mount/
secrets/
volumes/
