version: "3.8"

services:
  nginx:
    container_name: nginx
    image: nginx:${TAG:-latest}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - etc:/etc/nginx
      - www:/var/www
      - log:/var/log/nginx
    hostname: nginx
    restart: unless-stopped

volumes:
  etc:
  www:
  log:

networks:
  default:
    name: nginx
